In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [17]:
data = pd.read_csv('heart-disease.csv')
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [18]:
x = data.drop(['target'], axis=1)
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [19]:
y=data['target']
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8)

In [22]:
x_train.shape

(242, 13)

In [23]:
data.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

## Now to change strings or data to numbers using SK learn
1. Let's first create a model to predict the price
2. then we convert our data to numbers

In [24]:
new_data = pd.read_csv('car-sales-extended.csv')
new_data.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [25]:
x = new_data.drop('Price', axis=1)

In [26]:
y = new_data['Price']

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8)

In [28]:
from sklearn.ensemble import RandomForestRegressor

In [29]:
model = RandomForestRegressor()
model.fit(x_train, y_train)
model.score(x_test, y_test)

ValueError: could not convert string to float: 'BMW'

## Now lets change this words to numbers

In [30]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [31]:
one_hot = OneHotEncoder()
columns = (['Make', 'Colour', 'Doors'])
transformer = ColumnTransformer([('one_hot', one_hot, columns)], remainder='passthrough')
new_x = transformer.fit_transform(x)

In [32]:
pd.DataFrame(new_x)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [33]:
dummies = pd.get_dummies(x)
dummies

,Odometer (KM),Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,35431,4,0,1,0,0,0,0,0,0,1
1,192714,5,1,0,0,0,0,1,0,0,0
2,84714,4,0,1,0,0,0,0,0,0,1
3,154365,4,0,0,0,1,0,0,0,0,1
4,181577,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
995,35820,4,0,0,0,1,1,0,0,0,0
996,155144,3,0,0,1,0,0,0,0,0,1
997,66604,4,0,0,1,0,0,1,0,0,0
998,215883,4,0,1,0,0,0,0,0,0,1
999,248360,4,0,0,0,1,0,1,0,0,0

In [34]:
np.random.seed(42)
x_train, x_test, y_train, y_test = train_test_split(new_x, y, train_size=0.8)

In [35]:
model = RandomForestRegressor()
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.3235867221569877

In [36]:
print(sklearn.__version__)

1.0.2

## Missing Values

In [37]:
data = pd.read_csv('car-sales-extended-missing-data.csv')
data

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [38]:
data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [39]:
x= data.drop('Price', axis=1)
y= data['Price']

In [40]:
one_hot = OneHotEncoder()
columns = (['Make', 'Colour', 'Doors'])
transformer = ColumnTransformer([('one_hot', one_hot, columns)], remainder='passthrough')
new_x = transformer.fit_transform(data)

In [41]:
new_x

<1000x17 sparse matrix of type '<class 'numpy.float64'>'
	with 5000 stored elements in Compressed Sparse Row format>

In [42]:
type(new_x)

scipy.sparse._csr.csr_matrix

In [43]:
data.Make.fillna('Missing', inplace=True)

In [44]:
data.Colour.fillna('Missing', inplace=True)
data['Odometer (KM)'].fillna(data['Odometer (KM)'].mean(), inplace=True)
data.Doors.fillna(4, inplace=True)

In [45]:
data.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [46]:
data.dropna(inplace=True)

## Using sklearn to transformer our data`

In [47]:
data = pd.read_csv('car-sales-extended-missing-data.csv')
data

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [48]:
data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [49]:
x = data.drop('Price', axis=1)
y =data.Price

In [50]:
fy = pd.DataFrame(y, columns=['Price'])
fy

       Price
0    15323.0
1    19943.0
2    28343.0
3    13434.0
4    14043.0
..       ...
995  32042.0
996   5716.0
997  31570.0
998   4001.0
999  12732.0

[1000 rows x 1 columns]

In [51]:
x.isna().sum()
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[1000 rows x 4 columns]

In [52]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

cat_inputer = SimpleImputer(strategy='constant', fill_value='missing')
odo_inputer = SimpleImputer(strategy='mean')
door_inputer = SimpleImputer(strategy='constant', fill_value=4)

# create the features
cat_features = ['Make', 'Colour']
odo_features = ['Odometer (KM)']
door_feat = ['Doors']

# fit em
imputer = ColumnTransformer([('cat inputer', cat_inputer, cat_features),
                             ('odo features', odo_inputer, odo_features),
                             ('door feat', door_inputer, door_feat)    
])

filled_x = imputer.fit_transform(x)
filled_x

array([['Honda', 'White', 35431.0, 4.0],
       ['BMW', 'Blue', 192714.0, 5.0],
       ['Honda', 'White', 84714.0, 4.0],
       ...,
       ['Nissan', 'Blue', 66604.0, 4.0],
       ['Honda', 'White', 215883.0, 4.0],
       ['Toyota', 'Blue', 248360.0, 4.0]], dtype=object)

In [53]:
car_sales_data = pd.DataFrame(filled_x, columns=['Make','Colour', 'Odometer (KM)', 'Doors'])

In [54]:
dummies = pd.get_dummies(car_sales_data)

C:\Users\Surface\anaconda3\lib\site-packages\pandas\core\algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

In [55]:
car_sales_data.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

In [56]:
y.isna().sum()

50

In [57]:
price_inputer = SimpleImputer(strategy='mean')
fet= ['Price']
y_imputer = ColumnTransformer([('price', price_inputer, fet)])
filled_y = y_imputer.fit_transform(fy)

In [58]:
filled_y
y = pd.DataFrame(filled_y, columns=['Price'])

In [59]:
y_num = pd.DataFrame.to_numpy(y)
y_num

array([[15323.        ],
       [19943.        ],
       [28343.        ],
       [13434.        ],
       [14043.        ],
       [23883.        ],
       [ 8473.        ],
       [20306.        ],
       [ 9374.        ],
       [26683.        ],
       [16259.        ],
       [ 6160.        ],
       [16909.        ],
       [11121.        ],
       [18946.        ],
       [16290.        ],
       [34465.        ],
       [17177.        ],
       [ 9109.        ],
       [ 6010.        ],
       [24130.        ],
       [29653.        ],
       [22489.        ],
       [21242.        ],
       [14274.        ],
       [15686.        ],
       [13344.        ],
       [10984.        ],
       [ 6135.        ],
       [13586.        ],
       [23929.        ],
       [ 6866.        ],
       [ 9330.        ],
       [ 9780.        ],
       [17516.        ],
       [ 8738.        ],
       [23438.        ],
       [15131.        ],
       [ 9224.        ],
       [ 6574.        ],
       [ 9229.        ],
       [ 7100.        ],
       [ 6337.        ],
       [19085.        ],
       [ 5743.        ],
       [ 5925.        ],
       [25196.        ],
       [16138.        ],
       [ 6075.        ],
       [ 9928.        ],
       [ 7445.        ],
       [13698.        ],
       [17422.        ],
       [ 8269.        ],
       [ 9918.        ],
       [48686.        ],
       [15662.        ],
       [19186.        ],
       [11479.        ],
       [12883.        ],
       [24668.        ],
       [12172.        ],
       [25068.        ],
       [20370.        ],
       [ 5383.        ],
       [18396.        ],
       [ 9648.        ],
       [ 6652.        ],
       [ 6386.        ],
       [32379.        ],
       [22436.        ],
       [ 6860.        ],
       [ 5648.        ],
       [12001.        ],
       [18355.        ],
       [20424.        ],
       [15154.        ],
       [18484.        ],
       [ 6502.        ],
       [18310.        ],
       [ 8200.        ],
       [20142.        ],
       [13199.        ],
       [ 5708.        ],
       [13430.        ],
       [10283.        ],
       [ 3300.        ],
       [20936.        ],
       [18160.        ],
       [35988.        ],
       [ 5776.        ],
       [18595.        ],
       [ 6481.        ],
       [ 6283.        ],
       [ 6762.        ],
       [16337.        ],
       [11392.        ],
       [16519.        ],
       [22296.        ],
       [12196.        ],
       [14202.        ],
       [13250.        ],
       [ 7404.        ],
       [ 5316.        ],
       [10125.        ],
       [13614.        ],
       [13283.        ],
       [11584.        ],
       [15617.        ],
       [ 4747.        ],
       [ 6391.        ],
       [17802.        ],
       [22943.        ],
       [19502.        ],
       [15541.        ],
       [30407.        ],
       [35432.        ],
       [10091.        ],
       [11485.        ],
       [16042.81473684],
       [11192.        ],
       [ 3944.        ],
       [19000.        ],
       [ 7994.        ],
       [15604.        ],
       [11648.        ],
       [35600.        ],
       [17596.        ],
       [13427.        ],
       [35358.        ],
       [ 7813.        ],
       [ 8743.        ],
       [10628.        ],
       [ 4754.        ],
       [ 6784.        ],
       [17584.        ],
       [10582.        ],
       [21754.        ],
       [14795.        ],
       [ 8809.        ],
       [19258.        ],
       [34133.        ],
       [20490.        ],
       [31536.        ],
       [30412.        ],
       [14986.        ],
       [23074.        ],
       [ 4566.        ],
       [10038.        ],
       [20497.        ],
       [ 8071.        ],
       [10707.        ],
       [16042.81473684],
       [10835.        ],
       [ 5332.        ],
       [19106.        ],
       [12392.        ],
       [20155.        ],
       [10198.        ],
       [ 8260.        ],
       [12402.        ],
       [34110.        ],
       [22616.        ],
       [ 6361.        ],
       [14793.        ],
       [15767.        ],
       [ 7861.        ],
       [25847.        ],
       [ 8693.        ],
       [ 7193.        ],
       [21851.        ],
       [16042.81473684],
       [20282.        ],
       [ 3247.        ],
       [17980.        ],
       [15960.        ],
       [16042.81473684],
       [34286.        ],
       [10076.        ],
       [23287.        ],
       [12398.        ],
       [20075.        ],
       [12218.        ],
       [20100.        ],
       [13146.        ],
       [14189.        ],
       [ 9290.        ],
       [ 7800.        ],
       [13056.        ],
       [39738.        ],
       [ 6848.        ],
       [ 7097.        ],
       [13106.        ],
       [ 7846.        ],
       [ 8706.        ],
       [ 5454.        ],
       [10316.        ],
       [25133.        ],
       [10596.        ],
       [ 6978.        ],
       [25873.        ],
       [13559.        ],
       [26402.        ],
       [10547.        ],
       [16115.        ],
       [12553.        ],
       [12476.        ],
       [18306.        ],
       [33077.        ],
       [22746.        ],
       [ 8856.        ],
       [28013.        ],
       [ 9155.        ],
       [ 9530.        ],
       [19892.        ],
       [38128.        ],
       [12531.        ],
       [18198.        ],
       [ 5595.        ],
       [12872.        ],
       [29308.        ],
       [12104.        ],
       [19052.        ],
       [25874.        ],
       [23339.        ],
       [21830.        ],
       [22794.        ],
       [35004.        ],
       [ 9734.        ],
       [18691.        ],
       [10823.        ],
       [18346.        ],
       [ 9953.        ],
       [12086.        ],
       [13208.        ],
       [19936.        ],
       [27787.        ],
       [11092.        ],
       [34856.        ],
       [10456.        ],
       [ 7725.        ],
       [ 7032.        ],
       [15095.        ],
       [16730.        ],
       [14160.        ],
       [ 9521.        ],
       [ 5273.        ],
       [10180.        ],
       [39021.        ],
       [16042.81473684],
       [14404.        ],
       [16603.        ],
       [ 7076.        ],
       [26954.        ],
       [18182.        ],
       [ 5386.        ],
       [16042.81473684],
       [ 8327.        ],
       [16042.81473684],
       [12046.        ],
       [13111.        ],
       [35760.        ],
       [29681.        ],
       [10516.        ],
       [32676.        ],
       [ 9675.        ],
       [10374.        ],
       [12146.        ],
       [28414.        ],
       [17917.        ],
       [ 9379.        ],
       [27640.        ],
       [48239.        ],
       [22002.        ],
       [15234.        ],
       [13005.        ],
       [28983.        ],
       [17520.        ],
       [17858.        ],
       [10646.        ],
       [16179.        ],
       [16391.        ],
       [17866.        ],
       [ 8566.        ],
       [ 5052.        ],
       [17317.        ],
       [ 6431.        ],
       [ 9263.        ],
       [13255.        ],
       [11768.        ],
       [ 7708.        ],
       [10602.        ],
       [14089.        ],
       [18524.        ],
       [33353.        ],
       [10872.        ],
       [21921.        ],
       [ 7042.        ],
       [ 8460.        ],
       [15184.        ],
       [13200.        ],
       [ 8834.        ],
       [10676.        ],
       [12353.        ],
       [23311.        ],
       [18375.        ],
       [10740.        ],
       [ 4863.        ],
       [26846.        ],
       [10380.        ],
       [10888.        ],
       [20237.        ],
       [17556.        ],
       [32887.        ],
       [18058.        ],
       [13560.        ],
       [16042.81473684],
       [19357.        ],
       [27057.        ],
       [23868.        ],
       [ 7813.        ],
       [17035.        ],
       [10429.        ],
       [15088.        ],
       [ 6200.        ],
       [11616.        ],
       [ 6029.        ],
       [31392.        ],
       [13652.        ],
       [17860.        ],
       [ 3974.        ],
       [24834.        ],
       [ 6460.        ],
       [ 7252.        ],
       [11982.        ],
       [16042.81473684],
       [10841.        ],
       [16042.81473684],
       [13433.        ],
       [24949.        ],
       [20981.        ],
       [17340.        ],
       [ 6962.        ],
       [17036.        ],
       [29635.        ],
       [ 4871.        ],
       [25649.        ],
       [ 6672.        ],
       [23719.        ],
       [24938.        ],
       [17597.        ],
       [10439.        ],
       [10301.        ],
       [11738.        ],
       [15623.        ],
       [16223.        ],
       [ 7469.        ],
       [ 3974.        ],
       [22176.        ],
       [ 5125.        ],
       [ 9992.        ],
       [ 3893.        ],
       [23902.        ],
       [14502.        ],
       [17876.        ],
       [14198.        ],
       [ 8704.        ],
       [14613.        ],
       [ 6568.        ],
       [ 5008.        ],
       [ 7497.        ],
       [13932.        ],
       [15047.        ],
       [ 4753.        ],
       [17284.        ],
       [12434.        ],
       [28993.        ],
       [23017.        ],
       [17961.        ],
       [16042.81473684],
       [13492.        ],
       [ 7378.        ],
       [ 7061.        ],
       [ 5838.        ],
       [ 6242.        ],
       [13703.        ],
       [14227.        ],
       [22155.        ],
       [26675.        ],
       [ 7598.        ],
       [ 8500.        ],
       [14318.        ],
       [ 3895.        ],
       [10834.        ],
       [16517.        ],
       [19337.        ],
       [11731.        ],
       [12745.        ],
       [16042.81473684],
       [35264.        ],
       [ 8260.        ],
       [15879.        ],
       [10259.        ],
       [30439.        ],
       [13648.        ],
       [23336.        ],
       [ 3594.        ],
       [18327.        ],
       [10855.        ],
       [ 8980.        ],
       [ 6121.        ],
       [41294.        ],
       [26677.        ],
       [16042.81473684],
       [ 5101.        ],
       [16636.        ],
       [ 8014.        ],
       [ 6241.        ],
       [17127.        ],
       [11411.        ],
       [18180.        ],
       [29293.        ],
       [16042.81473684],
       [16042.81473684],
       [ 4946.        ],
       [19720.        ],
       [13508.        ],
       [15652.        ],
       [26926.        ],
       [14312.        ],
       [13310.        ],
       [14074.        ],
       [ 5260.        ],
       [ 8089.        ],
       [16805.        ],
       [ 8753.        ],
       [38060.        ],
       [10030.        ],
       [11076.        ],
       [ 9108.        ],
       [15610.        ],
       [13251.        ],
       [28354.        ],
       [23747.        ],
       [19629.        ],
       [ 8380.        ],
       [22989.        ],
       [33324.        ],
       [13147.        ],
       [20642.        ],
       [10344.        ],
       [25490.        ],
       [ 7682.        ],
       [12592.        ],
       [ 7827.        ],
       [17622.        ],
       [17171.        ],
       [10101.        ],
       [16319.        ],
       [18653.        ],
       [12201.        ],
       [22597.        ],
       [20893.        ],
       [16892.        ],
       [26973.        ],
       [17256.        ],
       [ 6960.        ],
       [21684.        ],
       [ 5094.        ],
       [14931.        ],
       [11773.        ],
       [ 5222.        ],
       [10196.        ],
       [16226.        ],
       [16042.81473684],
       [28104.        ],
       [16865.        ],
       [26816.        ],
       [ 9545.        ],
       [13647.        ],
       [16042.81473684],
       [14028.        ],
       [31633.        ],
       [12152.        ],
       [16001.        ],
       [18358.        ],
       [ 7443.        ],
       [ 4589.        ],
       [17076.        ],
       [21007.        ],
       [29616.        ],
       [22505.        ],
       [25111.        ],
       [ 7376.        ],
       [10919.        ],
       [25763.        ],
       [ 7882.        ],
       [ 4200.        ],
       [29004.        ],
       [ 8979.        ],
       [10450.        ],
       [18029.        ],
       [10278.        ],
       [19175.        ],
       [16042.81473684],
       [24990.        ],
       [21326.        ],
       [16042.81473684],
       [17144.        ],
       [12024.        ],
       [20705.        ],
       [29140.        ],
       [23483.        ],
       [13213.        ],
       [16519.        ],
       [ 6357.        ],
       [ 8105.        ],
       [10663.        ],
       [12311.        ],
       [16042.81473684],
       [19389.        ],
       [13707.        ],
       [13866.        ],
       [ 4941.        ],
       [16366.        ],
       [14086.        ],
       [13560.        ],
       [10597.        ],
       [29089.        ],
       [47260.        ],
       [18919.        ],
       [14442.        ],
       [13244.        ],
       [ 6742.        ],
       [22042.        ],
       [35683.        ],
       [ 4239.        ],
       [20511.        ],
       [16042.81473684],
       [19376.        ],
       [10675.        ],
       [13176.        ],
       [17520.        ],
       [ 5653.        ],
       [18919.        ],
       [16042.81473684],
       [16072.        ],
       [ 9954.        ],
       [33463.        ],
       [40032.        ],
       [22542.        ],
       [ 8687.        ],
       [ 7982.        ],
       [26078.        ],
       [23280.        ],
       [27744.        ],
       [11135.        ],
       [22825.        ],
       [11648.        ],
       [15508.        ],
       [19036.        ],
       [ 6602.        ],
       [14021.        ],
       [10522.        ],
       [18834.        ],
       [20879.        ],
       [29145.        ],
       [17664.        ],
       [13728.        ],
       [19373.        ],
       [ 7903.        ],
       [21236.        ],
       [16220.        ],
       [ 7973.        ],
       [ 7802.        ],
       [ 6803.        ],
       [ 8461.        ],
       [10402.        ],
       [ 7994.        ],
       [28655.        ],
       [13127.        ],
       [16042.81473684],
       [ 5513.        ],
       [20521.        ],
       [45720.        ],
       [13257.        ],
       [ 9529.        ],
       [ 7724.        ],
       [30854.        ],
       [12112.        ],
       [10207.        ],
       [33198.        ],
       [ 5138.        ],
       [27530.        ],
       [14431.        ],
       [30374.        ],
       [22263.        ],
       [ 8137.        ],
       [20590.        ],
       [ 8192.        ],
       [20840.        ],
       [11162.        ],
       [26885.        ],
       [ 5157.        ],
       [11749.        ],
       [16042.81473684],
       [31206.        ],
       [21953.        ],
       [20450.        ],
       [16042.81473684],
       [20622.        ],
       [20242.        ],
       [16774.        ],
       [ 8164.        ],
       [25382.        ],
       [ 8916.        ],
       [16320.        ],
       [14524.        ],
       [16042.81473684],
       [10580.        ],
       [19408.        ],
       [18142.        ],
       [16042.81473684],
       [ 8870.        ],
       [ 7183.        ],
       [10377.        ],
       [13272.        ],
       [22924.        ],
       [17690.        ],
       [17065.        ],
       [28073.        ],
       [29656.        ],
       [23377.        ],
       [10287.        ],
       [14767.        ],
       [16110.        ],
       [28276.        ],
       [21431.        ],
       [25775.        ],
       [ 6884.        ],
       [10494.        ],
       [16042.81473684],
       [15372.        ],
       [16042.81473684],
       [14204.        ],
       [10024.        ],
       [12392.        ],
       [21451.        ],
       [16273.        ],
       [30320.        ],
       [16042.81473684],
       [10061.        ],
       [31208.        ],
       [26834.        ],
       [16867.        ],
       [25735.        ],
       [15260.        ],
       [16308.        ],
       [16719.        ],
       [16042.81473684],
       [16042.81473684],
       [27888.        ],
       [16042.81473684],
       [10241.        ],
       [16042.81473684],
       [15413.        ],
       [ 9402.        ],
       [14717.        ],
       [15154.        ],
       [ 8930.        ],
       [11626.        ],
       [28414.        ],
       [18923.        ],
       [ 9649.        ],
       [29401.        ],
       [11364.        ],
       [10352.        ],
       [16908.        ],
       [ 3751.        ],
       [ 9919.        ],
       [23728.        ],
       [16042.81473684],
       [37518.        ],
       [13263.        ],
       [ 9710.        ],
       [32863.        ],
       [12058.        ],
       [ 6690.        ],
       [ 6504.        ],
       [ 4165.        ],
       [16345.        ],
       [ 5843.        ],
       [11210.        ],
       [ 6750.        ],
       [15827.        ],
       [16285.        ],
       [17654.        ],
       [13334.        ],
       [27557.        ],
       [19453.        ],
       [ 3509.        ],
       [15297.        ],
       [22587.        ],
       [ 9104.        ],
       [ 6207.        ],
       [29876.        ],
       [12186.        ],
       [15673.        ],
       [17152.        ],
       [36109.        ],
       [18248.        ],
       [20219.        ],
       [15778.        ],
       [ 9685.        ],
       [16042.81473684],
       [23844.        ],
       [ 6917.        ],
       [28596.        ],
       [11303.        ],
       [22883.        ],
       [50868.        ],
       [27852.        ],
       [26540.        ],
       [12901.        ],
       [14282.        ],
       [ 9222.        ],
       [11298.        ],
       [16464.        ],
       [29363.        ],
       [12950.        ],
       [ 7286.        ],
       [ 9500.        ],
       [ 6920.        ],
       [18199.        ],
       [10726.        ],
       [ 6956.        ],
       [17609.        ],
       [12650.        ],
       [22949.        ],
       [ 4022.        ],
       [19500.        ],
       [21653.        ],
       [18557.        ],
       [23554.        ],
       [14698.        ],
       [20845.        ],
       [16705.        ],
       [20130.        ],
       [13934.        ],
       [ 8513.        ],
       [13722.        ],
       [ 7823.        ],
       [ 5285.        ],
       [30020.        ],
       [23240.        ],
       [11708.        ],
       [17795.        ],
       [ 2796.        ],
       [ 8203.        ],
       [ 4968.        ],
       [11854.        ],
       [14432.        ],
       [16645.        ],
       [23064.        ],
       [18222.        ],
       [15962.        ],
       [17258.        ],
       [21679.        ],
       [ 4358.        ],
       [21612.        ],
       [17635.        ],
       [19271.        ],
       [14590.        ],
       [11233.        ],
       [13637.        ],
       [26308.        ],
       [28830.        ],
       [ 8479.        ],
       [ 7157.        ],
       [19545.        ],
       [35687.        ],
       [ 4733.        ],
       [ 5865.        ],
       [15967.        ],
       [14944.        ],
       [14331.        ],
       [20108.        ],
       [11036.        ],
       [30323.        ],
       [16042.81473684],
       [ 8253.        ],
       [ 5135.        ],
       [13608.        ],
       [33040.        ],
       [27868.        ],
       [20503.        ],
       [ 4454.        ],
       [13394.        ],
       [ 7910.        ],
       [22643.        ],

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

x_train, x_test, y_train, y_test = train_test_split(dummies, y_num, train_size=0.8)
model = RandomForestRegressor()
model.fit(x_train, y_train)
model.score(x_test, y_test)

C:\Users\Surface\AppData\Local\Temp\ipykernel_10396\1261485948.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

0.06391403418961406

## GETTING REAL DATA SETS FROM THE INTERNET
1) choosing which estimators to use

In [61]:
from sklearn.datasets import fetch_california_housing
house = fetch_california_housing()

In [62]:
house

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [63]:
housing = pd.DataFrame(house['data'], columns=house['feature_names'])

In [64]:
housing

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [65]:
housing['target'] = house['target']

In [66]:
housing

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [67]:
np.random.seed(42)
x = housing.drop('target', axis=1)
y = housing['target']

In [68]:
x_train,x_test, y_train, y_test = train_test_split(x,y, train_size=0.8)

using Ridge

In [69]:
from sklearn.linear_model import Ridge
model = Ridge()
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.5758549611440125

using lasso

In [70]:
from sklearn.linear_model import Lasso
model = Lasso()
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.2841671821008396

using support vector machines

In [71]:
from sklearn import svm
model = svm.SVR()
model.fit(x_train,y_train)
model.score(x_test, y_test)

-0.01648536010717372

using ensemnble method

In [72]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.806713773302341

In [73]:
y_preds = model.predict(x_test)

In [79]:
print(y_preds)

[0.49245   0.75516   4.9285962 ... 4.8444986 0.71687   1.67289  ]

In [75]:
np.mean(y_preds == y_test)

0.0

In [80]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_preds, y_test)

0.32634878224321723

In [81]:
from sklearn.metrics import r2_score
r2_score(y_preds, y_test)

0.7507651561333548

In [88]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_preds)

0.32634878224321723

In [85]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_preds)

0.25328400683491825